<!DOCTYPE html>
<html>
  <head>
    <a class="back" href="/"><button class="mainmenu">Main Menu</button></a>
    <h1>Lessons</h1>
    <h2>Basic Anatomy:</h2>
  </head>
  <button>Heart walls</button>
  <br>
  <button>Heart chambers</button>
  <br>
  <button>Heart valves</button>
  <br>
  <button>Blood vessels</button>
  <br>
  <button>Electrical conduction system</button>
  <br>
  <h2>Common Conditions & Disorders:</h2>
  <button>Heart attack</button>
  <br>
  <button>Stroke</button>
  <br>
  <button>Coronary artery disease</button>
</html>
