<!DOCTYPE html>
<html>
  <head>
    <button class="mainmenu">Main menu</button>
    
    <h1>Sign in</h1>
    <h3>Please sign in to your account to continue</h3>
    <p>Username:
    <br>
    Password:
    <br>
    Forgot password?</p>
    <button class="signin">Sign in</button>
  </head>
    <p>
      New? Join now
    </p>
    
    <style>
      h1 {
        font-size: 60px;
        font-weight: 100;
        font-family: helvetica;
        text-align: center;
      }
      h3 {        
        font-size: 30px;
        font-family: helvetica;
        font-weight: 50;
        text-align: center;
      }

</html>